@import './src/style/variables';

.FilmsTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  & td, & th {
    padding: 16px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;

    border-bottom: 1px solid $border-color;
  }
  & th {
    background-color: $gray;
    font-weight: 500;
  }

  &__row:not(:first-child) {
    cursor: pointer;
    transition: background-color .1s ease-in;

    &:hover {
      background-color: $gray;
    }
  }

  // Set columns sizes

  & th:nth-child(1) {
    width: 6%;
  }
  & th:nth-child(2) {
    width: 30%;
  }
  & th:nth-child(3) {
    width: 10%;
  }
  & th:nth-child(4) {
    width: 10%;
  }
  & th:nth-child(5) {
    width: 10%;
  }
  & th:nth-child(6) {
    width: 10%;
  }
  & th:nth-child(7) {
    width: 20%;
  }
}

// Styles for pagination

.pagination {
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
  padding: 20px 25px;

  li {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;

    &:hover {
      color: #0056b3;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }

    &.active {
      z-index: 3;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      a {
        color: #ffffff;
      }
    }
  }
}

