@import './src/style/variables';

.InputField {

  width: 95%;
  display: block;
  padding: 10px 5px;

  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color .2s ease-in, box-shadow .2s ease-in;

  &:focus-within {
    box-shadow: $blue2 0 0 0 1px;
    border-color: $blue2;
  }

}